.title {
	-fx-font-size: 13pt;	
	-fx-font-weight: bold;
}
.background {
	-fx-background-color: white;
}
.split-pane {
	-fx-padding: 0 0 0 0;
}
.split-pane:horizontal > .split-pane-divider {
	-fx-padding: 0px 1px 0px 0px;
}


.tab-pane {
	-fx-padding: 0px;
}

.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color: black;
}

.tab .tab-label {
	-fx-text-fill: white;
	-fx-font-size: 11pt;
	-fx-font-weight: bold;
}

.tab {
	-fx-padding: 5px 10px 5px 10px;
	-fx-background-color: transparent;
	-fx-background-insets: 0.0;
	-fx-background-radius: 0.0;
}

.tab:selected .tab-label {
	-fx-text-fill: black;	
}

.tab:selected {
	-fx-background-color: white;
	-fx-border-width: 4px 0px 0px 0px; 	
	-fx-border-color: lightgreen  ;	
}
			
.tab-pane:focused *.control-buttons-tab {
	-fx-background-color: red;	
}

